name: Bootstrap Terraform
run-name: Bootstrap Terraform run by ${{ github.actor }}

on:
  workflow_dispatch:
    # inputs:
    #   action:
    #     type: choice
    #     required: true
    #     default: plan
    #     options: [plan, apply]

permissions:
  contents: read
  id-token: write

jobs:

  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Configure GCP Authentication (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_BOOTSTRAP_SA }}

