name: Bootstrap Terraform Deployment
run-name: >
  Enable Google API and create service account to - by ${{ github.actor }} on ${{ github.ref_name }}

on:
  workflow_dispatch:

permissions:
  id-token: write      
  contents: read       

# concurrency:
#   group: deploy-${{ github.ref }}
#   cancel-in-progress: false

jobs:
  terraform-deploy:
    name: Deploy
    uses: subhamay-bhattacharyya-gha/tf-deploy-multi-reusable-wf/.github/workflows/terraform-deploy.yaml@main
    with:
      cloud-provider: gcp
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      terraform-dir: tf
      tf-vars-file: terraform.auto.tfvars.json
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
      gcp-service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}


