name: Deploy Cloud Resume Challenge
run-name: >
  Deploy to ${{ github.event.inputs['cloud-provider'] }} by ${{ github.actor }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
    # inputs:
    #   cloud-provider:
    #     description: "Target cloud provider"
    #     required: true
    #     type: choice
    #     options:
    #       - aws
    #       - gcp
    #       - azure

permissions:
  id-token: write      # needed for OIDC
  contents: read       # needed for checkout / Terraform

# concurrency:
#   group: deploy-${{ github.ref }}
#   cancel-in-progress: false

jobs:
  terraform-deploy:
    name: Deploy
    uses: subhamay-bhattacharyya-gha/tf-deploy-multi-reusable-wf/.github/workflows/terraform-deploy.yaml@feature/GHA-0011-add-tflint-in-the-workflo
    with:
      cloud-provider: gcp ###${{ github.event.inputs['cloud-provider'] }}
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      # aws-region: ${{ vars.AWS_REGION }}
      tf-vars-file: terraform.tfvars
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      # aws-role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
      gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
      gcp-service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      # azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
      # azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      # azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

