name: Terraform CI
run-name: Build run by ${{ github.actor }} on ${{ github.ref_name }}

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
      - 'bug/**'
    paths:
      - infra/aws/tf/**
      - infra/gcp/tf/**
      - infra/azure/tf/**
  pull_request:
    branches: [ main ]
    paths:
      - infra/gcp/tf/**


permissions:
  contents: write
  id-token: write

jobs:
  start-job:
    name: Start CI Workflow
    runs-on: ubuntu-latest
    steps:
      - name: Set CI Job Status
        id: set-ci-job-status
        run: |
          echo "ci-job-status=started" >> $GITHUB_OUTPUT

  terraform-ci-gcp:
    name: CI - GCP
    needs: start-job
    uses: subhamay-bhattacharyya-gha/tf-ci-reusable-wf/.github/workflows/ci.yaml@main
    with:
      cloud-provider: gcp
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      terraform-dir: tf
      tf-vars-file: terraform.tfvars
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
      gcp-service-account: ${{ secrets.GCP_BOOTSTRAP_SA }}

  # ============================================================================
  # Generate Change Log
  # ============================================================================

  generate-changelog:
    name: Generate Changelog
    runs-on: ubuntu-latest
    needs: terraform-ci-gcp
    if: github.ref != 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md

      - name: Commit changelog
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add CHANGELOG.md
          git diff --staged --quiet || git commit -m "docs: update CHANGELOG.md [skip ci]"
          git pull --rebase
          git push

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: 
      - terraform-ci-gcp
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    
    steps:
      - name: Create Release
        uses: subhamay-bhattacharyya-gha/create-release-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}