name: Terraform CI
run-name: Build run by ${{ github.actor }} on ${{ github.ref_name }}

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
      - 'bug/**'
    paths-ignore:
      - 'README.md'
      - '.github/**'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'VERSION'
      - 'CHANGELOG.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - '*.sh'
      - '*.txt'
      - 'package.json'
      - 'package-lock.json'
      - 'install-summary.json'
      - 'install-tools.log'
      - '.gitignore'
      - '.editorconfig'
      - 'utils/**'
      - '.pre-commit-config.yaml'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  terraform-ci:
    name: CI
    uses: github.com/subhamay-bhattacharyya-gha/tf-ci-reusable-wf/.github/workflows/ci.yaml@feature/GHA-0027-simplify-the-ci-build-wor
    with:
      cloud-provider: gcp
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      terraform-dir: tf
      tf-vars-file: terraform.auto.tfvars.json
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
      gcp-service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: terraform-ci
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    
    steps:
      - name: Create Release
        uses: subhamay-bhattacharyya-gha/create-release-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}