name: Destroy Service Accounts
run-name: >
  Destroy Service Account stack by ${{ github.actor }} on ${{ github.ref_name }}

on:
  workflow_dispatch:

permissions:
  id-token: write      
  contents: read      

jobs:
  terraform-destroy:
    name: Destroy
    uses: subhamay-bhattacharyya-gha/terraform-destroy-wf/.github/workflows/terraform-destroy.yaml@main
    with:
      cloud-provider: gcp 
      terraform-dir: tf
      backend-type: remote
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
      gcp-service-account: ${{ secrets.GCP_BOOTSTRAP_SA }}